###  Extracting and Visualizing Stock Data
Description

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

In [1]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Requirement already satisfied: yfinance in c:\users\lenovo\.conda\envs\jazz\lib\site-packages (0.2.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\lenovo\.conda\envs\jazz\lib\site-packages (from yfinance) (2.3.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\lenovo\.conda\envs\jazz\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: requests>=2.26 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\lenovo\.conda\envs\jazz\lib\site-packages (from yfinance) (39.0.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\lenovo\.conda\envs\jazz\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from yfinance) (1.23.4)
Requirement already satisfied: html5lib>=1.1 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from yfinance) (1.5.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from yfinance) (2022.5)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\lenovo\.conda\envs\jazz\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: pycparser in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: bs4 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\appdata\roaming\python\python310\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots


Define Graphing Function

In this section, we define the function make_graph. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()


Question 1: Use yfinance to Extract Stock Data

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is TSLA.

In [4]:
tesla = yf.Ticker("TSLA")



Using the ticker object and the function history extract stock information and save it in a dataframe named tesla_data. Set the period parameter to max so we get information for the maximum amount of time.

In [5]:
tesla_data = tesla.history(period="max")

In [6]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

###  Question 2: Use Webscraping to Extract Tesla Revenue Data

In [26]:
url= "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data=requests.get(url).text

In [27]:
# Parse the html data using beautiful_soup.
soup = BeautifulSoup(html_data,"html5lib")

In [25]:
tesla_data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
3163,2023-01-23 00:00:00-05:00,135.869995,145.380005,134.270004,143.750000,203119200,0.0,0.0
3164,2023-01-24 00:00:00-05:00,143.000000,146.500000,141.100006,143.889999,158699100,0.0,0.0
3165,2023-01-25 00:00:00-05:00,141.910004,146.410004,138.070007,144.429993,192734300,0.0,0.0
3166,2023-01-26 00:00:00-05:00,159.970001,161.419998,154.759995,160.270004,234815100,0.0,0.0
3167,2023-01-27 00:00:00-05:00,162.429993,180.679993,161.169998,177.899994,305632100,0.0,0.0


Question 3: Use yfinance to Extract Stock Data

In [14]:
gamestop = yf.Ticker("GME")

gme_data=gamestop.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666417,1.666417,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0


Question 4: Use Webscraping to Extract GME Revenue Data

In [16]:
url="https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data=requests.get(url).text
soup = BeautifulSoup(html_data,"html5lib")

In [18]:
gme_revenue= pd.read_html(url, match="GameStop Quarterly Revenue", flavor='bs4')[0]

In [19]:
gme_revenue=gme_revenue.rename(columns = {'GameStop Quarterly Revenue(Millions of US $)': 
    'Date', 'GameStop Quarterly Revenue(Millions of US $).1': 'Revenue'}, inplace = False)

In [21]:
gme_revenue.dropna(inplace=True)
gme_revenue.tail()

,GameStop Quarterly Revenue (Millions of US $),GameStop Quarterly Revenue (Millions of US $).1
51,2010-01-31,"$3,524"
52,2009-10-31,"$1,835"
53,2009-07-31,"$1,739"
54,2009-04-30,"$1,981"
55,2009-01-31,"$3,492"


Question 5: Plot Tesla Stock Graph

In [ ]:
make_graph(tesla_data, tesla_revenue, 'Tesla Stock Data Graph')


Question 6: Plot GameStop Stock Graph

In [ ]:
make_graph(gme_data, gme_revenue, 'GameStop Stock Data Graph')